.intro__list {
    margin: 0;
    padding: 33px 0 0;
    list-style: none;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
}