.cover__background {
    background-image: url(../../../images/cover__background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.cover__background:before {
    position: absolute;
    background: #2A2C2F;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .3;
    transition: opacity .3s ease;
}

.cover__background:hover::before {
    background: #2A2C2F;
    opacity: .8;
}

.cover__background:hover {
    opacity: 1;
}