.cover__title {
    margin: 0 auto;
    padding-bottom: 32px;
    max-width: 560px;
    color: white;
    text-align: center;
    font-style: normal;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    top: 245px;
    z-index: 1;
  }
  
@media screen and (max-width: 767px) {
  .cover__title {
    margin: 0 auto;
    padding-bottom: 16px;
    max-width: 288px;
    line-height: 35px;
    font-size: 32px;
  }
}